*{
	font-family: "Courier New" , Courier, monospace, 宋体;
	font-size: 10pt;
}
body {
	padding: 0px;
	margin: 0px;
	background-color: #fdfdfd;
	min-width: 500px;
}
form {
	margin: 0px;
	padding: 0px;
}
p{
	margin: 0px;
	padding: 3px 0px;
	line-height: 150%;
}
pre{
	margin: 0px;
	padding: 10px;
	font-size: 10pt;
	line-height: 150%;
}
img{
	border: 0px;
}
tr{
	margin: 0px;
	padding: 0px;
}
th{
	text-align: left;
}
td{
	min-height: 20px;
}
td.vertical{
	vertical-align: top; 
	padding-top: 10px;
}
fieldset {
	border: solid 1px #bbb;
	margin: 0px;
	width: 97%;
}
legend{
	font-weight: bold;
	color: #000;
}
h1{
	font-size: 14pt;
	margin: 0px;
	padding: 10px 0px 10px 5px;
}

a {
	text-decoration: none;
	color: #336699;
}
a.myLinkText {
	color: #333;
	padding: 3px;
}
a.myLinkText:hover {
	color: #fff;
	background-color: #0099FF;
}
.myTextbox{
	height: 20px; 
	border: 1px solid #ccc;
	background-color: #fff;
}
.quantityTextbox{
	height: 20px; 
	border: 1px solid #ccc;
	background-color: #fff;
	width: 40px;
	text-align: center;
}

.myTextboxReadonly{
	height: 20px; 
	border: 1px solid #ccc;
	background-color: #fff;
	color: #ACA899;
}
.iframeBody{
	margin: 0;
	padding: 0;
	background-color: #fff;
}

.pageNumber{
	height: 18px; 
	border: 1px solid #ccc;
	background-color: #fff;
	width: 35px;
}
.waitMessageStyle{
	padding: 10px; 
	margin: 20px;
/*	border: 1px dashed #FF99FF; 
	background-color: #FFFFCC; */
}

.waitMessageStyle span{
	font-weight: bold;
	padding-left: 10px;
	color: #f00;
}
.redText{
	color: #f00;
}
.blueText {
	color: #3399FF;
}
.hide{
	display: none;
}
.handCursor{
	cursor: pointer;
}

.layout_button{
	display: block;
	width: 15px;
	height: 15px;
	float: right;
	cursor: pointer;
}
.layout_button_up{
	background: url(../Images/layout_button_up.gif) no-repeat 2px 0px;
}
.layout_button_down{
	background: url(../Images/layout_button_down.gif) no-repeat 2px 0px;
}
.legend_h1 {
	margin: 0px;
	padding: 0px;
	height: 16px;
	font-size: 10pt;
	background-color: #5D7B9D;
	color: #fff;
	cursor: pointer;
}

#mainMenuBar{
	position: absolute;
	left: 200px;
	top: 25px;
	white-space: nowrap;
}

#topBanner {
	height: 63px;
	background-color: #BBDDFF;
	border-bottom: solid 3px #CDB5FF;
}

#webSiteLogo a {
	position: absolute;
	left: 10px;
	top: 7px;
}

#currentPageTitle span {
	background-position: 2px 0px;
	color: #336600;
	position: absolute;
	top: 40px;
	right: 15px;
	display: block;
	font-size: 11pt;
	font-weight: bold;
	background: url(../Images/page.gif) no-repeat 2px 0px;
	padding-left: 22px;
	white-space: nowrap;
}


#topRightBar{
	position: absolute;
	right: 10px;
	top: 3px;
}

#contentBody{
	padding: 10px;
}

.appName{
	font-size: 16px;
}
.floatButton{
	display: block;
	width: 18px;
	height: 18px;
	float: left;
	cursor: pointer;
	border: solid 1px #fff;
}
.floatButton:hover {
	border: 1px solid #66CCFF;
}

.searchButton{
	background: url(../Images/search.png) no-repeat 2px 1px;
}
.clearButton{
	background: url(../Images/removeformat.gif) no-repeat 2px 1px;
}

.layout_button{
	display: block;
	width: 18px;
	height: 18px;
	float: right;
	cursor: pointer;
}

.legend_h1 {
	margin: 0px;
	padding: 3px;
	font-size: 10pt;
	background-color: #5D7B9D;
	color: #fff;
	cursor: pointer;
}
.nowrap{
	white-space: nowrap;
}
.w300{
	width: 300px;
}
.w400{
	width: 400px;
}



/*---------- GridVew Style -------------- */
.GridView, .GridView2, .GridView3{
	color: #333333;
	border: solid 1px #D0D0D5;
	/*width: 100%;*/
}
.GridView_RowStyle {
	background-color: #fff;
	color: #333333;
}
.GridView_SelectedRowStyle {
	background-color: #FFCCFF;
}
.GridView_HeaderStyle {
	background-color: #C1CCD9;
	font-weight: bold;
	color: #3366CC;
}
.GridView_AlternatingRowStyle {
	background-color: #ECECFF;
	color: #284775;
}
.GridView_FooterStyle {
	background-color: #F7F6F3;
	color: #333333;
	border-top: solid 1px #D0D0D5;
}
/*----------------------------  jquery-easyui  ------------------------------*/
.spinner, .combo{
	height: 22px; 
	border: 1px solid #ccc;
	background-color: #fff;
}
.combo-arrow, .combo-text{
	height: 22px;
}
.easyui-numberspinner, .combo-text{
	background-color: #fff;
	height: 22px;
}
.spinner-arrow-up, .spinner-arrow-down{
	height: 11px;
}
.combobox-item{
	cursor: pointer;
}
span .ui-button-text{
	padding: 0px;
}
span .l-btn-text{
	white-space: nowrap;
}
.icon-edit{
	background:url('../images/EditTableHS.gif') no-repeat;
}
.icon-delete{
	background:url('../images/delete.gif') no-repeat;
}
.icon-open{
	background:url('../images/eps_openHS.png') no-repeat;
}
.icon-go{
	background:url('../images/go.png') no-repeat;
}
.icon-find{
	background:url('../images/FindHS.png') no-repeat;
}



.icon-cs{
	background:url('../images/cs.gif') no-repeat;
}
.icon-cs2{
	background:url('../images/cs2.gif') no-repeat;
}
.icon-ascx{
	background:url('../images/ascx.gif') no-repeat;
}
.icon-ashx{
	background:url('../images/ashx.gif') no-repeat;
}
.icon-css{
	background:url('../images/css.gif') no-repeat;
}
.icon-js{
	background:url('../images/js.gif') no-repeat;
}
.icon-skin{
	background:url('../images/skin.gif') no-repeat;
}
.icon-aspx{
	background:url('../images/aspx.gif') no-repeat;
}
.icon-asax{
	background:url('../images/asax.gif') no-repeat;
}
.icon-master{
	background:url('../images/master.gif') no-repeat;
}
.icon-config{
	background:url('../images/config.gif') no-repeat;
}
.icon-sql{
	background:url('../images/sql.gif') no-repeat;
}

.syntaxhighlighter .line .content {
	white-space: nowrap;
}

a.hotLink{

	border: solid 3px #fff;
	display: block;
}
a.hotLink:hover{
	border: solid 3px #f00;
}


.pagination{
	clear: both;
	background-color: #F7F6F3;
	color: #333333;
	border: solid 1px #D0D0D5;
}


.itemList{
	margin: 0px;
	padding: 0px;
}

.itemList li{
	list-style: none;
	margin: 5px 10px 5px 0px;
	padding: 0px;
	width: 260px;	
	overflow: hidden;
	float: left;
}
.itemList li table{
	width: 100%;
	height: 140px;
}
.itemList li td{
	white-space: nowrap;
}
