.hidden {
	display : none
}
.show_block {
	display : block
}
.show_inline {
	display : inline
}
.show_inline_block {
	display : inline - block
}
.iframe - dialog {
	background :  # fff
}
.personal_container {
	pointer - events : all;
	display : inline;
	visibility : hidden;
	position : absolute;
	z - index : 20;
	top : 9px;
	width : 220px;
	right : 12px;
	left : 5px
}
.personal_container.btn {
	height : 27px;
	line - height : 21px;
	display : inline;
	float : right;
	margin - left : 5px;
	background - image : url("http://img.baidu.com/img/image/liulan/new_ui_btns.png");
	_background - image : url("http://img.baidu.com/img/image/liulan/new_ui_btns.gif");
	background - repeat : no - repeat;
	-webkit - border - radius : 3px;
	-moz - border - radius : 3px;
	border - radius : 3px
}
.personal_container.download : link, .personal_container.download : visited, .personal_container.download : hover, .personal_container.download : active {
	text - decoration : none
}
.personal_container.download {
	background - position : left - 124px;
	padding - left : 55px
}
.personal_container.download : hover {
	background - position : left - 151px
}
.personal_container.download : hover span {
	background - position : right - 151px;
	cursor : pointer
}
.personal_container.download span {
	position : relative;
	background - image : url("http://img.baidu.com/img/image/liulan/new_ui_btns.png");
	_background - image : url("http://img.baidu.com/img/image/liulan/new_ui_btns.gif");
	background - repeat : no - repeat;
	background - position : right - 124px;
	color :  # fff;
	font - size : 12px;
	display : inline - block;
	text - decoration : none;
	line - height : 25px;
	height : 25px;
	padding : 0 10px 0 2px;
	left : 4px;
	text - indent : 0
}
.personal_container.download.before_down : hover, .personal_container.download : hover {
	background - image : url("http://img.baidu.com/img/image/liulan/new_ui_btns.png");
	_background - image : url("http://img.baidu.com/img/image/liulan/new_ui_btns.gif");
	background - repeat : no - repeat
}
.personal_container.addfav {
	background - position : right - 648px;
	padding - left : 70px;
	float : left
}
.personal_container.addfav : hover {
	background - position : right - 675px
}
.hover.personal_container {
	visibility : visible
}

 # nav ul.main li.item.hot,  # nav div.floating ul.main li.item.hot {
	position : absolute;
	width : 100 % ;
	height : 54px;
	background - image : url("http://img.baidu.com/img/image/liulan/nav_festival_decorator.png")!important;
	background - repeat : no - repeat;
	_background - image : url("http://img.baidu.com/img/image/liulan/nav_festival_decorator.gif");
	top : 4px;
	display : block;
	background - position : center;
	pointer - events : none;
	visibility : visible;
	cursor : pointer
}
 * , html, body {
	margin : 0;
	padding : 0;
	outline : 0
}
body {
	background - color :  # f0f1f4;
	background - image : url('/static/list/default/page/img/list_bg_44e51255.jpg');
	background - repeat : repeat;
	background - position : 0 0;
	_height : 800px;
	_background : url('/static/list/default/page/img/list_bg_44e51255.jpg') # f0f1f4 fixed
}
a : focus {
	border : 0;
	outline : 0
}
.clearfix : after {
	content : '.';
	display : block;
	clear : both;
	visibility : hidden;
	height : 0
}
.clearfix {
	display : inline - block
}
 * html.clearfix {
	zoom : 1
}
.clearfix {
	display : block
}
div # nav {
	box - shadow : 0 1px 3px # 222;
	-webkit - box - shadow : 0 1px 3px # 222;
	-moz - box - shadow : 0 1px 3px # 222
}
 * , html, body {
	margin : 0;
	padding : 0;
	outline : 0
}
body {
	background - color :  # f0f1f4;
	background - image : url('/static/list/special/page/img/list_bg_44e51255.jpg');
	background - repeat : repeat;
	background - position : 0 0;
	_height : 800px;
	_background : url('/static/list/special/page/img/list_bg_44e51255.jpg') # f0f1f4 fixed
}
a : focus {
	border : 0;
	outline : 0
}
.clearfix : after {
	content : '.';
	display : block;
	clear : both;
	visibility : hidden;
	height : 0
}
.clearfix {
	display : inline - block
}
 * html.clearfix {
	zoom : 1
}
.clearfix {
	display : block
}
body > a > img {
	display : none
}
 # outer - bread - con {
	background - image : url('/static/widget/list/bread/img/bread_14d39925.png');
	background - repeat : repeat - x
}
 # bread,  # bread a {
	color :  # 444;
	font - size : 14px;
	font - weight : bold;
	height : 44px;
	line - height : 40px;
	text - decoration : none
}
 # bread a : hover {
	text - decoration : underline
}
.loading {
	height : 35px;
	margin : 20px 0;
	clear : both
}
.loading img {
	display : block;
	width : 35px;
	height : 35px;
	margin : 0 auto
}
 # outer - special - con {
	background - color :  # 2b2e35;
	border - bottom : 1px solid # fff
}
 # special - con {
	visibility : hidden;
	width : 100 % ;
	display : none
}
.special - obj {
	position : relative;
	margin : 0 auto;
	padding - top : 14px
}
.special - obj.slider - title {
	display : none;
	height : 36px;
	padding - bottom : 14px
}
.special - obj.slider - title.title - txt {
	font - size : 14px;
	color :  # fff;
	font - weight : bold;
	text - align : center;
	height : 36px;
	line - height : 36px
}
.special - obj.slider - title.separation - right {
	height : 2px;
	margin : 0 60px;
	background : url("./img/separation.png")no - repeat right top
}
.special - obj.slider - title.separation - left {
	height : 2px;
	width : 50 % ;
	background : url("./img/separation.png")no - repeat left top
}
.special - obj.slider - btn - con {
	position : absolute;
	top : 70px;
	width : 100 % ;
	line - height : 230px;
	left : 0
}
.special - obj.slider - btn - con a {
	background - image : url("/static/widget/list/special/img/slider_d5cf78bc.png");
	_background - image : url("/static/widget/list/special/img/slider_8c07d5a8.gif");
	background - repeat : no - repeat;
	display : inline - block;
	width : 50px;
	height : 50px
}
.special - obj.slider - btn - con.btn - prev {
	float : left;
	background - position : -267px top
}
.special - obj.slider - btn - con.btn - prev : hover {
	background - position : -267px - 55px
}
.special - obj.slider - btn - con.btn - next {
	float : right;
	background - position : -329px top
}
.special - obj.slider - btn - con.btn - next : hover {
	background - position : -329px - 55px
}
.special - obj.slider - view {
	margin : 0 auto;
	width : 870px;
	height : 164px;
	font - size : 0;
	letter - spacing : 0;
	overflow : hidden;
	position : relative
}
.special - obj.slider - view.covers - con {
	display : none;
	white - space : nowrap;
	height : 164px;
	overflow : hidden;
	position : absolute;
	width : 20000px
}
.special - obj.slider - view.on {
	display : block
}
.special - obj.slider - view.cover - link {
	display : inline - block;
	background :  # fff;
	background - image : url('http://list.image.baidu.com/t/loadingPD.gif');
	background - position : center center;
	background - repeat : no - repeat;
	border : 1px solid # 1f1f1f;
	float : left;
	position : relative;
	height : 162px;
	width : 162px;
	white - space : normal;
	margin - right : 12px;
	cursor : pointer
}
.special - obj.slider - view.cover - link : hover img {
	opacity : .8;
	filter : alpha(opacity = 80);
	_filter : none
}
.special - obj.slider - view.cover - link.hover.cover_info {
	text - decoration : underline
}
.special - obj.slider - view.cover - link img {
	-webkit - transition : opacity.5s ease;
	-moz - transition : opacity.5s ease;
	-khtml - transition : opacity.5s ease;
	-o - transition : opacity.5s ease;
	transition : opacity.5s ease;
	opacity : 0;
	filter : alpha(opacity = 0);
	_filter : none
}
.special - obj.slider - view.cover - link.cover - big, .special - obj.slider - view.cover - link.cover - small, .special - obj.slider - view.cover - link.cover - info {
	float : left;
	_float : none;
	display : inline - block;
	overflow : hidden;
	font - family : "\5fae\8f6f\96c5\9ed1",
	"\5b8b\4f53",
	Arial
}
.special - obj.slider - view.cover - link.cover - big {
	width : 162px;
	height : 162px
}
.special - obj.slider - view.cover - link.cover - big.h - img {
	width : 162px
}
.special - obj.slider - view.cover - link.cover - big.w - img {
	height : 162px
}
.special - obj.slider - view.cover - link.cover - small {
	width : 70px;
	height : 70px
}
.special - obj.slider - view.cover - link.cover - small.h - img {
	width : 70px
}
.special - obj.slider - view.cover - link.cover - small.w - img {
	height : 70px
}
.special - obj.slider - view.cover - link.cover - info {
	position : absolute;
	bottom : 0;
	left : 0;
	width : 162px;
	height : 30px;
	background - image : url("/static/widget/list/special/img/slider_d5cf78bc.png");
	background - repeat : no - repeat;
	background - position : left top;
	_filter : progid : dximagetransform.microsoft.alphaimageloader(src = '/static/widget/list/special/img/slider_d5cf78bc.png', sizingmethod = 'crop');
	_background - image : none;
	text - align : justify;
	text - shadow : 0 1px 2px # 333
}
.special - obj.slider - view.cover - link.cover - info.wrapper - for  - padding {
	margin : 8px;
	display : block
}
.special - obj.slider - view.cover - link.cover - info.cover - title, .special - obj.slider - view.cover - link.cover - info.cover - num {
	font - size : 12px;
	color :  # FFF;
	position : relative
}
.special - obj.slider - view.cover - link.cover - info.cover - title {
	float : left;
	display : block;
	width : 100px;
	overflow : hidden;
	height : 22px;
	line - height : 20px;
	letter - spacing : 1px
}
.special - obj.slider - view.cover - link.cover - info.cover - num {
	float : right
}
.special - obj.slider - view.loaded {
	background - image : none
}
.special - obj.slider - view.loaded img {
	opacity : 1;
	filter : alpha(opacity = 100);
	_filter : none
}
.special - obj.slider - sign {
	text - align : center;
	height : 29px;
	line - height : 29px
}
.special - obj.slider - sign a {
	text - decoration : none;
	margin - right : 10px;
	display : inline - block;
	width : 10px;
	height : 10px;
	background - image : url("/static/widget/list/special/img/slider_d5cf78bc.png");
	_background - image : url("/static/widget/list/special/img/slider_8c07d5a8.gif");
	background - repeat : no - repeat;
	background - position : -279px bottom;
	cursor : default
}
.special - obj.slider - sign a.on {
	background - position : -297px bottom
}
.ie7.slider - sign a {
	margin - top : 10px
}
 # waterfall_wrapper {
	margin : 0;
	padding : 0;
	width : 100 % ;
	height : 100 % ;
	z - index : 1;
	position : relative
}
 # waterfall_wrapper img {
	border : 0;
	outline : 0
}
 # waterfall_wrapper # waterfall {
	visibility : hidden;
	position : relative;
	z - index : 1;
	margin : 20px auto
}
 # waterfall_wrapper # waterfall ul,  # waterfall_wrapper # waterfall li {
	list - style : none
}
 # waterfall_wrapper # waterfall # imgs_container {
	width : 100 % ;
	position : relative;
	z - index : 2
}
 # waterfall_wrapper # waterfall # imgs_container.colum {
	float : left;
	position : relative;
	margin - right : 11px;
	_margin - right : 10px;
	min - height : 200px
}
 # waterfall_wrapper # waterfall # imgs_container.colum.last {
	margin - right : 0
}
 # waterfall_wrapper # waterfall # imgs_container li.imgset.imgset_num,  # waterfall_wrapper # waterfall # imgs_container li.imgset.left_bg,  # waterfall_wrapper # waterfall # imgs_container li.imgset.right_bg,  # waterfall_wrapper # waterfall # imgs_container li.imgset0.imgset_num,  # waterfall_wrapper # waterfall # imgs_container li.imgset0.left_bg,  # waterfall_wrapper # waterfall # imgs_container li.imgset0.right_bg {
	display : none
}
 # waterfall_wrapper # waterfall # imgs_container li.imgset1.size_info,  # waterfall_wrapper # waterfall # imgs_container li.imgset1.personal_container,  # waterfall_wrapper # waterfall # imgs_container li.imgset2.size_info,  # waterfall_wrapper # waterfall # imgs_container li.imgset2.personal_container,  # waterfall_wrapper # waterfall # imgs_container li.imgset3.size_info,  # waterfall_wrapper # waterfall # imgs_container li.imgset3.personal_container,  # waterfall_wrapper # waterfall # imgs_container li.imgset4.size_info,  # waterfall_wrapper # waterfall # imgs_container li.imgset4.personal_container {
	display : none
}
 # waterfall_wrapper # waterfall # imgs_container li.imgset1.imgset_num,  # waterfall_wrapper # waterfall # imgs_container li.imgset2.imgset_num,  # waterfall_wrapper # waterfall # imgs_container li.imgset3.imgset_num,  # waterfall_wrapper # waterfall # imgs_container li.imgset4.imgset_num {
	display : block
}
 # waterfall_wrapper # waterfall # imgs_container.w230 {
	width : 238px;
	border : 0
}
 # waterfall_wrapper # waterfall # imgs_container.w230.imgobj_info_container {
	position : relative
}
 # waterfall_wrapper # waterfall # imgs_container.w230.imgobj_info_container.size_info {
	position : absolute;
	right : 4px;
	bottom : 3px;
	_right : 4px;
	font - size : 12px;
	color :  # 888;
	line - height : 15px;
	cursor : default
}
 # waterfall_wrapper # waterfall # imgs_container.w230.imgobj_info_container.abs {
	color :  # 222
}
 # waterfall_wrapper # waterfall # imgs_container.w230.imgobj_info_container.abs : hover {
	color :  # 666;
	text - decoration : underline
}
 # waterfall_wrapper # waterfall # imgs_container.w230.imgobj_info_container.from_site {
	margin - right : 65px;
	word - wrap : break - word;
	word - break : break - all;
	height : 15px;
	line - height : 15px;
	_display : inline - block;
	overflow : hidden
}
 # waterfall_wrapper # waterfall # imgs_container.w230.imgobj_info_container.from_site.site_name,  # waterfall_wrapper # waterfall # imgs_container.w230.imgobj_info_container.from_site.site_url {
	color :  # 222
}
 # waterfall_wrapper # waterfall # imgs_container.w230.imgobj_info_container.from_site : hover {
	zoom : 1
}
 # waterfall_wrapper # waterfall # imgs_container.w230.imgobj_info_container.from_site : hover.site_name,  # waterfall_wrapper # waterfall # imgs_container.w230.imgobj_info_container.from_site : hover.site_url {
	color :  # e01a1a;
	text - decoration : underline
}
 # waterfall_wrapper # waterfall # imgs_container.w230.imgset_num {
	line - height : 32px;
	height : 32px;
	right : 4px;
	bottom : 64px;
	padding : 0 10px 0 16px;
	background - image : url('/static/widget/list/waterfall/img/imgsetnum_bg_0fd0b5e3.png');
	background - repeat : no - repeat;
	background - position : left top;
	_filter : progid : dximagetransform.microsoft.alphaimageloader(src = '/static/widget/list/waterfall/img/imgsetnum_bg_0fd0b5e3.png', sizingmethod = 'crop');
	_background - image : none
}
 # waterfall_wrapper # waterfall # imgs_container.w310 {
	width : 318px;
	filter : none
}
 # waterfall_wrapper # waterfall # imgs_container.w310 a.detail_link : hover img {
	opacity : .8;
	filter : none
}
 # waterfall_wrapper # waterfall # imgs_container.w310.just_for_bg {
	position : absolute;
	top : 0;
	left : 0;
	background :  # 000;
	opacity : .6;
	filter : alpha(opacity = 60);
	height : 100 % ;
	width : 100 % ;
	-webkit - border - radius : 5px;
	-moz - border - radius : 5px;
	border - radius : 5px;
	border : 0
}
 # waterfall_wrapper # waterfall # imgs_container.w310.personal_container {
	width : 300px
}
 # waterfall_wrapper # waterfall # imgs_container.w310.imgobj_info_container {
	display : none;
	position : absolute;
	bottom : 0;
	margin : 0 10px 14px 10px;
	width : 290px;
	height : 50px
}
 # waterfall_wrapper # waterfall # imgs_container.w310.imgobj_info_container.padding_wrapper {
	padding : 11px 6px 5px 9px
}
 # waterfall_wrapper # waterfall # imgs_container.w310.imgobj_info_container.from_site,  # waterfall_wrapper # waterfall # imgs_container.w310.imgobj_info_container.size_info {
	color :  # ccc
}
 # waterfall_wrapper # waterfall # imgs_container.w310.imgobj_info_container.abs {
	padding - bottom : 5px;
	color :  # ddd
}
 # waterfall_wrapper # waterfall # imgs_container.w310.imgobj_info_container.abs : hover {
	color :  # fff;
	text - decoration : underline
}
 # waterfall_wrapper # waterfall # imgs_container.w310.imgobj_info_container.site_name {
	color :  # fff
}
 # waterfall_wrapper # waterfall # imgs_container.w310.imgobj_info_container.size_info {
	position : absolute;
	right : 9px;
	bottom : 0;
	font - size : 12px;
	cursor : default
}
 # waterfall_wrapper # waterfall # imgs_container.w310.imgobj_info_container.padding_wrapper {
	position : relative
}
 # waterfall_wrapper # waterfall # imgs_container.w310.imgobj_info_container.from_site : hover {
	zoom : 1
}
 # waterfall_wrapper # waterfall # imgs_container.w310.imgobj_info_container.from_site : hover.site_name,  # waterfall_wrapper # waterfall # imgs_container.w310.imgobj_info_container.from_site : hover.site_url {
	color :  # ff9595;
	text - decoration : underline
}
 # waterfall_wrapper # waterfall # imgs_container.w310 div.leftw1 {
	width : 238px
}
 # waterfall_wrapper # waterfall # imgs_container.w310 div.rightw1 {
	width : 50px
}
 # waterfall_wrapper # waterfall # imgs_container.w310 div.leftw2 {
	width : 224px
}
 # waterfall_wrapper # waterfall # imgs_container.w310 div.rightw2 {
	width : 64px
}
 # waterfall_wrapper # waterfall # imgs_container.w310 div.leftw3 {
	width : 210px
}
 # waterfall_wrapper # waterfall # imgs_container.w310 div.rightw3 {
	width : 78px
}
 # waterfall_wrapper # waterfall # imgs_container.w310 div.leftw4 {
	width : 196px
}
 # waterfall_wrapper # waterfall # imgs_container.w310 div.rightw4 {
	width : 92px
}
 # waterfall_wrapper # waterfall # imgs_container.w310.leftw1 div.just_for_bg,  # waterfall_wrapper # waterfall # imgs_container.w310.leftw2 div.just_for_bg,  # waterfall_wrapper # waterfall # imgs_container.w310.leftw3 div.just_for_bg,  # waterfall_wrapper # waterfall # imgs_container.w310.leftw4 div.just_for_bg {
	-webkit - border - top - right - radius : 0;
	-webkit - border - bottom - right - radius : 0;
	-moz - border - top - right - radius : 0;
	-moz - border - bottom - right - radius : 0;
	border - top - right - radius : 0;
	border - bottom - right - radius : 0
}
 # waterfall_wrapper # waterfall # imgs_container.w310.imgset_num {
	display : none;
	text - align : center;
	right : 14px;
	bottom : 14px;
	height : 50px;
	line - height : 50px;
	color :  # fff
}
 # waterfall_wrapper # waterfall # imgs_container.hover.imgobj_info_container,  # waterfall_wrapper # waterfall # imgs_container.hover.imgset_num {
	display : block
}
 # waterfall_wrapper # waterfall # imgs_container.hover.imgset_num div.just_for_bg {
	-webkit - border - top - left - radius : 0;
	-webkit - border - bottom - left - radius : 0;
	-moz - border - top - left - radius : 0;
	-moz - border - bottom - left - radius : 0;
	border - top - left - radius : 0;
	border - bottom - left - radius : 0
}
 # waterfall_wrapper # waterfall # imgs_container li {
	position : relative;
	margin - bottom : 11px;
	height : auto!important;
	height : 100 % ;
	width : 238px;
	overflow : visiable
}
 # waterfall_wrapper # waterfall # imgs_container li.inner_wrapper {
	border - left : 1px solid # ddd \ 9;
	position : relative;
	z - index : 5;
	display : block;
	background - color :  # fff;
	padding : 4px;
	padding : 3px \ 9;
	-webkit - box - shadow : 0 1px 3px # bbb;
	-moz - box - shadow : 0 1px 3px # bbb;
	box - shadow : 0 1px 3px # bbb;
	_filter : none;
	_border : 1px solid # ccc;
	_border - top : 0
}
 # waterfall_wrapper # waterfall # imgs_container li.left_bg,  # waterfall_wrapper # waterfall # imgs_container li.right_bg {
	position : absolute;
	width : 100 % ;
	height : 100 % ;
	+height : expression(this.parentNode.offsetHeight - 1 + 'px');
	background :  # fff;
	-webkit - box - shadow : 0 1px 3px # bbb;
	-moz - box - shadow : 0 1px 3px # bbb;
	box - shadow : 0 1px 3px # bbb;
	pointer - events : none
}
 # waterfall_wrapper # waterfall # imgs_container li.left_bg {
	top : 3px;
	left : -3px;
	z - index : -1
}
 # waterfall_wrapper # waterfall # imgs_container li.right_bg {
	top : 6px;
	right : -3px;
	z - index : -2
}
 # waterfall_wrapper # waterfall # imgs_container li a.detail_link {
	width : 100 % ;
	height : 100 % ;
	top : 0;
	left : 0;
	z - index : 16
}
 # waterfall_wrapper # waterfall # imgs_container li a.detail_link : hover img {
	opacity : .8;
	filter : alpha(opacity = 80);
	_filter : none
}
 # waterfall_wrapper # waterfall # imgs_container li a.detail_link img {
	display : block;
	background :  # f3f3f3;
	-webkit - transition : opacity.5s ease;
	-moz - transition : opacity.5s ease;
	-khtml - transition : opacity.5s ease;
	-o - transition : opacity.5s ease;
	transition : opacity.5s ease
}
 # waterfall_wrapper # waterfall # imgs_container li a.detail_link.img_loading {
	opacity : 0
}
 # waterfall_wrapper # waterfall # imgs_container li a.detail_link.img_loaded {
	opacity : 1
}
 # waterfall_wrapper # waterfall # imgs_container li a.detail_link.error {
	opacity : 1;
	background - color :  # f5f5f5
}
 # waterfall_wrapper # waterfall # imgs_container li.imgset_num {
	color :  # fff;
	display : inline - block;
	position : absolute;
	font - size : 12px;
	z - index : 20
}
 # waterfall_wrapper # waterfall # imgs_container li.imgset_num span {
	position : relative
}
 # waterfall_wrapper # waterfall # imgs_container li.imgset_num span.num {
	font - size : 26px;
	margin - right : 5px;
	position : relative;
	top : 1px;
	font - family : Trebuchet MS
}
 # waterfall_wrapper # waterfall # imgs_container li.imgobj_info_container {
	pointer - events : all;
	padding : 0;
	overflow - x : hidden;
	width : 100 % ;
	z - index : 20;
	color :  # fff;
	cursor : pointer;
	overflow : hidden
}
 # waterfall_wrapper # waterfall # imgs_container li.imgobj_info_container a {
	font - size : 12px;
	line - height : 14px;
	display : block;
	text - decoration : none
}
 # waterfall_wrapper # waterfall # imgs_container li.imgobj_info_container.padding_wrapper {
	position : relative;
	padding : 12px 6px 5px 6px;
	z - index : 22
}
 # waterfall_wrapper # waterfall # imgs_container li.imgobj_info_container.abs {
	overflow : hidden;
	padding : 0;
	padding - bottom : 6px;
	vertical - align : baseline
}
 # waterfall_wrapper # waterfall # imgs_container li.imgobj_info_container.from_site {
	margin : 0;
	font - size : 12px;
	overflow : hidden;
	color :  # 888;
	vertical - align : baseline
}
 # waterfall_wrapper # waterfall # imgs_container li.imgobj_info_container.from_site.no - logo {
	display : none
}
html {
	overflow - y : scroll
}
 : root # waterfall_wrapper # waterfall # imgs_container li.inner_wrapper {
	border - left : none
}
 : root # waterfall_wrapper # waterfall # imgs_container li.right_bg {
	right : -3px
}
html, body {
	height : 100 %
}
li.inner_wrapper, li.left_bg, li.right_bg {
	_border : 1px solid # ccc;
	_border - top : 0
}
 * +html li.inner_wrapper,  * +html li.left_bg,  * +html li.right_bg {
	border : 1px solid # ccc;
	border - top : 0
}
 @ media \ 0screen {
	li.inner_wrapper,
	li.left_bg,
	li.right_bg {
		border : 1px solid # ccc;
		border - top : 0
	}
}
.ie7 # waterfall_wrapper # waterfall # imgs_container li.imgset_num, .ie8 # waterfall_wrapper # waterfall # imgs_container li.imgset_num {
	right : 13px
}
.ie7 # waterfall_wrapper # waterfall # imgs_container li.left_bg, .ie8 # waterfall_wrapper # waterfall # imgs_container li.left_bg {
	top : 2px
}
.ie7 # waterfall_wrapper # waterfall # imgs_container li.right_bg, .ie8 # waterfall_wrapper # waterfall # imgs_container li.right_bg {
	top : 5px
}
.ie9 # waterfall_wrapper # waterfall # imgs_container li.inner_wrapper {
	padding : 4px
}
 # prompt {
	position : absolute;
	background : url("/static/widget/list/prompt/img/list_prompt_d37622b2.png")no - repeat;
	_filter : progid : DXImageTransform.Microsoft.AlphaImageLoader(enabled = true, src = "/static/widget/list/prompt/img/list_prompt_d37622b2.png");
	_background : 0;
	display : none;
	z - index : 1;
	width : 283px;
	height : 101px;
	left : -356px;
	top : -13px
}
 # prompt a {
	margin : 0 auto;
	top : 60px;
	left : 100px;
	position : absolute;
	display : inline - block;
	width : 69px;
	height : 29px;
	background : url("/static/widget/list/prompt/img/iknowit_31442eb7.gif")no - repeat
}
 # prompt a : hover {
	background - position : left - 29px
}
.paper - box {
	background - color :  # fff;
	overflow : visible;
	-webkit - box - shadow : 0 1px 3px # bbb;
	-moz - box - shadow : 0 1px 3px # bbb;
	box - shadow : 0 1px 3px # bbb
}
 * +html.paper - box {
	border : 1px solid # ccc;
	border - left : none;
	border - top : 0
}
 @ media \ 0screen {
	.paper - box {
		border : 1px solid # ccc;
		border - left : none;
		border - top : 0
	}
}
.paper - box.right - bottom - corner {
	width : 21px;
	height : 21px;
	position : absolute;
	background - image : url("http://img.baidu.com/img/image/liulan/new_ui_btns.png");
	background - repeat : no - repeat;
	background - position : right - 458px;
	bottom : -3px;
	right : -4px;
	_display : none
}
.paper - box h2.sub_title {
	margin : 0 13px;
	font - size : 14px;
	line - height : 38px;
	height : 38px;
	display : block;
	color :  # 606060;
	font - weight : bold
}
 # rec_sites_wrapper {
	position : absolute;
	font - size : 12px;
	top : 0;
	left : 0;
	width : 230px;
	z - index : 30;
	line - height : 1.3
}
 # rec_sites_wrapper # rec_sites {
	margin : 22px 13px 26px 13px
}
 # rec_sites_wrapper img {
	border : 0;
	outline : 0
}
 # rec_sites_wrapper h2.sub_title {
	border - bottom : 1px solid # e0e0e0
}
 # rec_sites_wrapper div.on {
	display : block
}
 # rec_sites_wrapper.rec_site_wrapper {
	display : none;
	margin - bottom : 26px
}
 # rec_sites_wrapper.rec_site_wrapper.rec_site_abs_link,  # rec_sites_wrapper.rec_site_wrapper.rec_site_link {
	cursor : pointer;
	text - decoration : none
}
 # rec_sites_wrapper.rec_site_wrapper.rec_site_link {
	display : block;
	margin - bottom : 7px
}
 # rec_sites_wrapper.rec_site_wrapper.rec_site_link img.rec_site_logo,  # rec_sites_wrapper.rec_site_wrapper.rec_site_link div.txt_wrapper {
	display : inline;
	float : left;
	margin : 0 8px 0 0;
	color :  # 255fb1
}
 # rec_sites_wrapper.rec_site_wrapper.rec_site_link.rec_site_name {
	font - size : 14px
}
 # rec_sites_wrapper.rec_site_wrapper.rec_site_link.rec_site_address {
	visibility : hidden;
	font - size : 12px
}
 # rec_sites_wrapper.rec_site_wrapper a : hover {
	zoom : 1;
	0display : inline - block
}
 # rec_sites_wrapper.rec_site_wrapper a : hover.rec_site_name,  # rec_sites_wrapper.rec_site_wrapper a : hover.rec_site_address,  # rec_sites_wrapper.rec_site_wrapper a : hover.rec_site_abs {
	text - decoration : underline
}
 # rec_sites_wrapper.rec_site_wrapper.rec_site_abs {
	color :  # 676767;
	line - height : 20px;
	font - size : 12px;
	text - justify : inter - ideograph;
	text - align : justify;
	word - break : break - all;
	word - wrap : break - word
}
 # rec_sites_wrapper.no - sites {
	display : none
}
.no_more_wrapper {
	background :  # 3f444b;
	border - top : 1px solid # 9295a3;
	min - width : 1010px;
	-webkit - box - shadow : 0 0 2px # d0d0d0;
	-moz - box - shadow : 0 0 2px # d0d0d0;
	box - shadow : 0 0 2px # d0d0d0
}
div.float - bottom {
	position : fixed;
	bottom : 36px;
	z - index : 21;
	width : 100 % ;
	background : 0;
	border : 0 none;
	-webkit - box - shadow : 0 0 0 # d0d0d0;
	-moz - box - shadow : 0 0 0 # d0d0d0;
	box - shadow : 0 0 0 # d0d0d0
}
div.float - bottom.no_more {
	padding : 0
}
div.float - bottom.no - hot - data {
	display : none
}
div.float - bottom # channels - con {
	background : 0;
	display : none
}
div.float - bottom # hot - tags - con {
	padding : 13px 0 17px;
	width : 1002px;
	background : url(/static/widget / list / no_result_more / img / list - fixedbg_724cf930.png)no - repeat 0 0 transparent;
	margin : 0 auto;
	border : 0 none;
	text - align : center
}
div.float - bottom # hot - tags - con h2 {
	margin - left : 0
}
div.float - bottom # hot - tags - con a, div.float - bottom # hot - tags - con a span {
	background : url("/static/widget/list/no_result_more/img/list-fixbtn-bg_755fa5e0.png")no - repeat;
	_background : url("/static/widget/list/no_result_more/img/list-fixbtn-bg_680da69a.gif")no - repeat
}
div.float - bottom # hot - tags - con a {
	background - position : left - 2px;
	color :  # 3c3e41;
	margin - bottom : 20px
}
div.float - bottom # hot - tags - con a : hover {
	color :  # ec4a39;
	background - position : left - 40px
}
div.float - bottom # hot - tags - con a : hover span {
	color :  # ec4a39;
	background - position : right - 40px
}
div.float - bottom # hot - tags - con a span {
	background - position : right - 2px;
	position : relative;
	left : 5px;
	top : 0
}
.ie6.float - bottom {
	position : absolute;
	top : expression(eval(document.documentElement.scrollTop + document.documentElement.clientHeight - this.offsetHeight - (parseInt(this.currentStyle.marginTop, 10) || 0) - (parseInt(this.currentStyle.marginBottom, 10) || 0) - 36))
}
.ie6.float - bottom # hot - tags - con {
	background : 0;
	_filter : progid : DXImageTransform.Microsoft.AlphaImageLoader(enabled = true, src = "/static/widget/list/no_result_more/img/list-fixedbg_724cf930.png")
}
.no_more {
	clear : both;
	text - align : left;
	padding : 0 0 18px 0;
	font - size : 12px
}
.no_more.con h2, .no_more.con.menu {
	display : inline
}
.no_more.hot.related - title {
	display : none
}
.no_more.related.hot - title {
	display : none
}
.no - hot - data # hot - tags - con {
	display : none
}
.no_more.related.related - title, .no_more.hot.hot - title {
	display : inline - block;
	 * display : inline;
	 * zoom : 1
}
.ie6 # hot - tags - con.title {
	vertical - align : top
}
 # hot - tags - con {
	padding : 16px 0 13px;
	width : 1002px;
	height : 28px;
	overflow : hidden;
	margin : 0 auto;
	text - align : left;
	border - bottom : 1px solid # 2a2b33;
	 * position : relative;
	_position : static
}
 # hot - tags - con h2 {
	color :  # fff;
	background : url("/static/widget/list/no_result_more/img/list-fixbtn-bg_755fa5e0.png")no - repeat - 1px - 78px;
	_background : url("/static/widget/list/no_result_more/img/list-fixbtn-bg_680da69a.gif")no - repeat - 1px - 78px;
	line - height : 28px;
	width : 76px;
	height : 28px;
	text - align : center;
	margin - left : 30px;
	 * vertical - align : top;
	margin - bottom : 20px
}
 # hot - tags - con a,  # hot - tags - con a : link,  # hot - tags - con a : focus,  # hot - tags - con a : visited {
	outline : 0;
	text - decoration : none;
	margin - left : 10px;
	padding - left : 8px;
	display : inline - block
}
 # hot - tags - con a,  # hot - tags - con a span {
	background : url("/static/widget/list/no_result_more/img/list-fixbtn-bg_755fa5e0.png")no - repeat;
	_background : url("/static/widget/list/no_result_more/img/list-fixbtn-bg_680da69a.gif")no - repeat
}
 # hot - tags - con a {
	background - position : left - 2px;
	color :  # 3c3e41
}
 # hot - tags - con a : hover {
	color :  # ec4a39;
	background - position : left - 40px
}
 # hot - tags - con a : hover span {
	color :  # ec4a39;
	background - position : right - 40px
}
 # hot - tags - con a span {
	background - position : right - 2px;
	position : relative;
	left : 5px;
	top : 0;
	padding - right : 10px;
	display : inline - block;
	line - height : 28px;
	height : 28px;
	cursor : pointer
}
 # channels - con {
	padding : 17px 0 17px 0;
	border - top : 1px solid # 4f5359;
	width : 1002px;
	margin : 0 auto;
	text - align : left
}
 # channels - con h2 {
	color :  # fff;
	padding : 9px 12px;
	font - weight : bold;
	margin - left : 18px
}
 # channels - con a,  # channels - con a : link,  # channels - con a : focus,  # channels - con a : visited {
	color :  # c8cdd2;
	outline : 0;
	text - decoration : none;
	padding - left : 15px;
	display : inline - block;
	line - height : 14px
}
 # channels - con a {
	border - left : 1px solid # d1d1d1
}
 # channels - con a.first {
	border - left : none
}
 # channels - con a span {
	padding - right : 15px;
	display : inline - block;
	cursor : pointer;
	line - height : 14px
}
 # channels - con a : hover {
	color :  # ff6970
}
.hot - album {
	display : none
}
.hot - album - exist {
	display : block
}
 # hot - album - con {
	padding : 16px 0 0;
	margin : 0 auto;
	width : 1002px;
	text - align : left
}
 # hot - album - con.item - con {
	float : left;
	margin - bottom : 16px
}
 # hot - album - con.title {
	color :  # fff;
	background : url("/static/widget/list/no_result_more/img/list-fixbtn-bg_755fa5e0.png")no - repeat - 1px - 78px;
	_background : url("/static/widget/list/no_result_more/img/list-fixbtn-bg_680da69a.gif")no - repeat - 1px - 78px;
	line - height : 28px;
	width : 76px;
	height : 28px;
	text - align : center;
	display : inline - block;
	vertical - align : top;
	float : left;
	margin - left : 30px;
	_display : inline
}
 # hot - album - con.hot - album - item {
	margin : 0 0 0 8px;
	display : inline - block;
	position : relative;
	text - decoration : none;
	overflow : hidden;
	width : 120px;
	height : 120px;
	border : 1px solid # 161618;
	float : left;
	_display : inline
}
 # hot - album - con.hot - album - item img {
	filter : alpha(opacity = 100);
	opacity : 1;
	-webkit - transition : opacity.5s ease;
	-moz - transition : opacity.5s ease;
	transition : opacity.5s ease
}
 # hot - album - con.hot - album - item.w_img {
	height : 120px
}
 # hot - album - con.hot - album - item.h_img {
	width : 120px
}
 # hot - album - con.hot - album - item : hover img {
	filter : alpha(opacity = 80);
	opacity : .8
}
 # hot - album - con.first {
	margin - left : 13px
}
 # hot - album - con.hot - album - item.hot - album - name {
	position : absolute;
	bottom : 0;
	bottom : -1px \ 0;
	left : 0;
	color :  # fff;
	height : 23px;
	line - height : 23px;
	width : 100 % ;
	text - align : center;
	filter : progid : DXImageTransform.Microsoft.Gradient(GradientType = 0, StartColorStr = '#a5000000', EndColorStr = '#a5000000') \ 9;
	background : rgba(0, 0, 0, 0.65)
}
 # hot - album - con.hot - split - line {
	font - size : 0;
	height : 0;
	border - top : 1px solid # 2a2b33;
	border - bottom : 1px solid # 4f5359;
	padding : 0;
	clear : both
}
.float - bottom.hot - album - exist {
	display : none
}
 # zhuanti - frame {
	display : none;
	clear : both;
	width : 100 %
}
 # filter - tabs,  # filter - tabs ul,  # filter - tabs ul li a {
	background - image : url("/static/widget/list/filter_tabs/img/new_ui_btns_eef7de58.png");
	_background - image : url("/static/widget/list/filter_tabs/img/new_ui_btns_eef7de58.png");
	background - repeat : no - repeat
}
 # filter - tabs {
	position : absolute;
	right : 3px;
	z - index : 1100;
	width : 140px;
	background - position : left - 496px;
	overflow : visible
}
 # filter - tabs ul.menu - filter {
	list - style : none;
	height : 29px;
	overflow : visible;
	background - position : right - 496px;
	position : relative;
	left : 3px
}
 # filter - tabs ul.menu - filter li {
	float : left;
	padding : 0;
	line - height : 12px;
	height : 29px;
	position : relative;
	background - position : right - 566px
}
 # filter - tabs ul.menu - filter li a {
	display : inline - block;
	font - size : 12px;
	padding : 8px auto;
	background - position : -5px - 566px;
	width : 69px;
	text - decoration : none;
	color :  # 444;
	line - height : 29px;
	_line - height : 27px;
	text - align : center;
	position : relative;
	height : 27px;
	margin : 1px 0;
	border : 1px solid # a7a7a7
}
 # filter - tabs ul.menu - filter li.first {
	left : -3px
}
 # filter - tabs ul.menu - filter li.first a {
	border - width : 0 1px 0 0;
	background - position : left - 567px
}
 # filter - tabs ul.menu - filter li.last a {
	border - width : 0 0 0 1px;
	background - position : right - 567px
}
 # filter - tabs ul.menu - filter li.first a : hover {
	background - position : left - 602px
}
 # filter - tabs ul.menu - filter li.last a : hover {
	background - position : right - 602px
}
 # filter - tabs ul.menu - filter li a : hover {
	color :  # 777
}
 # filter - tabs ul.menu - filter li a.on : hover {
	color :  # 999
}
 # filter - tabs ul.menu - filter li a.on {
	color :  # 5d5d5d;
	width : 70px;
	border : 0;
	background : 0;
	cursor : default
}
 # tags_container {
	position : absolute;
	zoom : 1;
	z - index : 3
}
.paper - box {
	background - color :  # fff;
	overflow : visible;
	zoom : 1;
	_border : 1px solid # ccc;
	_border - left : none;
	_border - top : 0;
	-webkit - box - shadow : 0 1px 3px # bbb;
	-moz - box - shadow : 0 1px 3px # bbb;
	box - shadow : 0 1px 3px # bbb
}
 * +html.paper - box {
	border : 1px solid # ccc;
	border - left : none;
	border - top : 0
}
 @ media \ 0screen {
	.paper - box {
		border : 1px solid # ccc;
		border - left : none;
		border - top : 0
	}
}
.paper - box.right - bottom - corner {
	width : 21px;
	height : 21px;
	position : absolute;
	background - image : url("http://img.baidu.com/img/image/liulan/new_ui_btns.png");
	background - repeat : no - repeat;
	background - position : right - 458px;
	bottom : -3px;
	right : -4px;
	_display : none
}
.paper - box h2.sub_title {
	margin : 0 13px;
	font - size : 14px;
	line - height : 38px;
	height : 38px;
	display : block;
	color :  # 606060;
	font - weight : bold;
	font - family : "\5fae\8f6f\96c5\9ed1",
	"\5b8b\4f53",
	Arial
}
 # tags_container ul.sub {
	list - style : none;
	overflow : hidden;
	zoom : 1;
	top : 0;
	clear : both;
	display : none;
	background - color :  # fff;
	padding : 19px 0 18px 15px
}
 # tags_container h2.sub_title {
	text - indent : 42px;
	width : 210px;
	background - image : url("http://img.baidu.com/img/image/liulan/new_ui_btns.png");
	_background - image : url("http://img.baidu.com/img/image/liulan/new_ui_btns.gif");
	background - repeat : no - repeat;
	background - position : left - 451px
}
 # tags_container ul.on {
	display : block
}
 # tags_container ul.sub li {
	float : left;
	font - size : 12px;
	margin : 0 8px 8px 0;
	height : 27px;
	background - image : url("http://img.baidu.com/img/image/liulan/new_ui_btns.png");
	_background - image : url("http://img.baidu.com/img/image/liulan/new_ui_btns.gif");
	background - repeat : no - repeat;
	background - position : right top
}
 # tags_container ul.sub li a {
	float : left;
	color :  # 696969;
	text - decoration : none;
	background - image : url("http://img.baidu.com/img/image/liulan/new_ui_btns.png");
	_background - image : url("http://img.baidu.com/img/image/liulan/new_ui_btns.gif");
	background - repeat : no - repeat;
	background - position : left top;
	line - height : 22px;
	height : 22px;
	word - break : keep - all;
	vertical - align : middle;
	white - space : nowrap;
	padding : 2px 3px 2px 8px;
	margin : 0 2px 0 0;
	position : relative;
	left : -4px
}
 # tags_container ul.sub li a.on,  # tags_container ul.sub li a.on : hover,  # tags_container ul.sub li : hover a.on {
	cursor : default;
	font - weight:
	normal;
	color :  # fff
}
 # tags_container ul.sub li.on,  # tags_container ul.sub li.on : hover {
	background - position : right - 58px
}
 # tags_container ul.sub li a.on,  # tags_container ul.sub li : hover a.on,  # tags_container ul.sub li a.on : hover {
	background - position : left - 58px
}
 # tags_container ul.sub li : hover {
	background - position : right - 29px
}
 # tags_container ul.sub li : hover a,  # tags_container ul.sub li a : hover {
	background - position : left - 29px;
	color :  # 7e828f
}
 * , html, body {
	font - family : "\5b8b\4f53",
	"\5fae\8f6f\96c5\9ed1",
	Arial
}
 # nav {
	font - family : "\5fae\8f6f\96c5\9ed1",
	"\5b8b\4f53",
	Arial
}
.wrapper_for_middle {
	margin : 0 auto
}
.wrapper_for_margin {
	margin : 0 0 0 20px
}
.wrapper_for_bg {
	background :  # fff;
	min - width : 1010px
}
 # out_header_wrapper {
	padding - top : 8px
}
 # out_nav_wrapper {
	margin : 0
}
.recommend {
	height : 32px;
	line - height : 32px;
	padding - left : 20px;
	zoom : 1;
	font - size : 12px;
	float : left
}
.supnew {
	line - height : 32px;
	height : 32px;
	padding : 0 22px 0 0;
	background : url("http://img.baidu.com/img/image/hot.png")no - repeat scroll right 3px transparent;
	display : inline - block;
	_zoom : 1
}
.recommend a {
	color :  # 00c
}
.up_to_top_wrapper {
	position : fixed;
	bottom : 0;
	right : 0;
	z - index : 22
}
.up_to_top_wrapper a {
	width : 35px;
	height : 35px;
	text - indent : -10000px;
	overflow : hidden;
	position : absolute;
	right : 10px;
	cursor : pointer;
	background - image : url("http://img.baidu.com/img/image/liulan/new_ui_btns.png");
	_background - image : url("http://img.baidu.com/img/image/liulan/new_ui_btns.png");
	background - repeat : no - repeat
}
.up_to_top_wrapper.up_to_top : hover {
	background - position : -42px - 88px
}
.up_to_top_wrapper.investigation : hover {
	background - position : -42px - 88px
}
.up_to_top {
	background - position : left - 88px;
	bottom : 134px
}
.investigation {
	background - position : left - 88px;
	bottom : 20px
}
 * html.up_to_top_wrapper {
	position : absolute;
	height : 200px;
	top : expression(eval(document.documentElement.scrollTop + document.documentElement.clientHeight - this.offsetHeight - (parseInt(this.currentStyle.marginTop, 10) || 0) - (parseInt(this.currentStyle.marginBottom, 0) || 0)))
}
 # size - selector h3 {
	position : absolute;
	font - size : 13px;
	left : -70px;
	line - height : 28px;
	color :  # 777
}
 # size - selector,  # size - selector ul,  # size - selector ul li a, .l - size - ico, .m - size - ico {
	background - image : url("/static/widget/list/size_selector/img/new_ui_btns_eef7de58.png");
	background - repeat : no - repeat
}
.l - size - ico, .m - size - ico {
	_background - image : url("http://img.baidu.com/img/image/liulan/new_ui_btns.gif")
}
 # size - selector {
	position : absolute;
	right : 3px;
	z - index : 1100;
	width : 140px;
	background - position : left - 496px;
	overflow : visible
}
 # size - selector ul.menu - filter {
	list - style : none;
	height : 29px;
	overflow : visible;
	background - position : right - 496px;
	position : relative;
	left : 3px
}
 # size - selector ul.menu - filter li {
	float : left;
	padding : 0;
	line - height : 12px;
	height : 29px;
	position : relative;
	background - position : right - 566px
}
 # size - selector ul.menu - filter li a {
	display : inline - block;
	font - size : 12px;
	padding : 8px auto;
	background - position : -5px - 566px;
	width : 69px;
	text - decoration : none;
	color :  # 444;
	line - height : 29px;
	_line - height : 27px;
	text - align : center;
	position : relative;
	height : 27px;
	margin : 1px 0;
	border : 1px solid # a7a7a7
}
 # size - selector ul.menu - filter li.first {
	left : -3px
}
 # size - selector ul.menu - filter li.first a {
	border - width : 0 1px 0 0;
	background - position : left - 567px
}
 # size - selector ul.menu - filter li.last a {
	border - width : 0 0 0 1px;
	background - position : right - 567px
}
 # size - selector ul.menu - filter li.first a : hover {
	background - position : left - 602px
}
 # size - selector ul.menu - filter li.last a : hover {
	background - position : right - 602px
}
 # size - selector ul.menu - filter li a : hover {
	color :  # 777
}
 # size - selector ul.menu - filter li a.on : hover {
	color :  # 999
}
 # size - selector ul.menu - filter li a span {
	display : block;
	padding - left : 20px
}
 # size - selector ul.menu - filter li a.l - size - ico {
	background - position : -15px - 747px
}
 # size - selector ul.menu - filter li a.m - size - ico {
	background - position : -15px - 779px
}
 # size - selector ul.menu - filter li a : hover.l - size - ico {
	background - position : -141px - 747px
}
 # size - selector ul.menu - filter li a : hover.m - size - ico {
	background - position : -141px - 779px
}
 # size - selector ul.menu - filter li a.on {
	color :  # 5d5d5d;
	width : 70px;
	background : 0;
	border : 0;
	cursor : default
}