@{
    ViewBag.Title = "Home Page";
}
<h2>@ViewBag.Message</h2>
<p>
    To learn more about ASP.NET MVC visit <a href="http://asp.net/mvc" title="ASP.NET MVC Website">
        http://asp.net/mvc</a>.
</p>
<br />
@Html.ActionLink("查看产品列表", "Index", "Product")
<br />
@Html.ActionLink("查看产品列表", "GetAllProducts", "Product")--调用WCF服务
