<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
    </sectionGroup>
  </configSections>

  <spring>

    <context>
      <resource uri="config://spring/objects" />
    </context>

    <objects xmlns="http://www.springframework.net" xmlns:aop="http://www.springframework.net/aop">
      <description>配置实现AOP</description>

      <object id="advisor" type="Spring.Aop.Support.SdkRegularExpressionMethodPointcut, Spring.Aop">
        <property name="pattern" value="Service.*.Find*"/>
      </object>

      <aop:config>
        <aop:advisor pointcut-ref="advisor" advice-ref="aroundAdvice"/>
      </aop:config>

      <object id="aroundAdvice" type="Common.AroundAdvice, Common"/>

      <object id="categoryService" type="Service.ProductService, Service"/>
      <object id="productService" type="Service.ProductService, Service"/>

    </objects>

  </spring>

</configuration>
