<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="vBookingDBEntities" connectionString="metadata=res://*/VBooking.csdl|res://*/VBooking.ssdl|res://*/VBooking.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=devdb.dev.sh.ctriptravel.com,28747;initial catalog=vBookingDB;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>