<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<system.web>
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			</assemblies>
		</compilation>
		<authentication mode="Forms">
			<forms cookieless="UseCookies" name="MyMVCDEMO"></forms>
		</authentication>

		<pages enableViewState="false" enableViewStateMac="false" 
			   enableSessionState="false" autoEventWireup="false" validateRequest="false" 			   
			   pageParserFilterType="MyMVC.ViewTypeParserFilter, MyMVC" 
			   pageBaseType="MyMVC.MyBasePage, MyMVC" 
			   userControlBaseType="MyMVC.MyBaseUserControl, MyMVC">
			<namespaces>
				<add namespace="MyMVC" />
				<add namespace="WebSiteCommonLib" />
				<add namespace="WebSiteModel" />
			</namespaces>
			<controls>
				<add tagPrefix="fish" tagName="MainMenu" src="~/Controls/MainMenu.ascx" />
				<add tagPrefix="fish" tagName="PageHeader" src="~/Controls/PageHeader.ascx" />
			</controls>
		</pages>
		<httpHandlers>
			<!--<add path="*.cspx" verb="*" type="MyMVC.AjaxHandlerFactory, MyMVC" validate="true" />-->
			<add path="*Ajax*/*.cspx,*Ajax*.*.cspx" verb="*" type="MyMVC.AjaxHandlerFactory, MyMVC" validate="true"/>
			<add path="*.aspx" verb="*" type="MyMVC.MvcPageHandlerFactory, MyMVC" validate="true" />
			<add path="/mvc/*" verb="*" type="MyMVC.MvcPageHandlerFactory, MyMVC" validate="true" />
		</httpHandlers>
	</system.web>
	
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
				<providerOption name="CompilerVersion" value="v3.5" />
				<providerOption name="WarnAsError" value="false" />
			</compiler>
		</compilers>
	</system.codedom>

	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<handlers>
			<add name="AjaxHandlerFactory" verb="*" path="*.cspx" type="MyMVC.AjaxHandlerFactory, MyMVC" preCondition="integratedMode" />
			<add name="MvcPageHandlerFactory" verb="*" path="*.aspx" type="MyMVC.MvcPageHandlerFactory, MyMVC" preCondition="integratedMode" />
			<add name="MvcPageHandlerFactory2" verb="*" path="/mvc/*" type="MyMVC.MvcPageHandlerFactory, MyMVC" preCondition="integratedMode" />
		</handlers>
	</system.webServer>

</configuration>
