HTML {
	OVERFLOW-Y: auto
}
BODY {
	TEXT-ALIGN: center; FONT: 12px arial; BACKGROUND: #fff
}
BODY {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
P {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
FORM {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
UL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
LI {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
BODY {
	POSITION: relative
}
FORM {
	POSITION: relative
}
#fm {
	POSITION: relative
}
TD {
	TEXT-ALIGN: left
}
IMG {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
A {
	COLOR: #000
}
A:active {
	COLOR: #f60
}
#u {
	TEXT-ALIGN: right; PADDING-BOTTOM: 5px; PADDING-LEFT: 0px; PADDING-RIGHT: 10px; COLOR: #999; PADDING-TOP: 4px
}
#u A {
	MARGIN: 0px 5px
}
#u .reg {
	MARGIN: 0px
}
#m {
	MARGIN: 0px auto; WIDTH: 680px
}
#nv A {
	FONT-SIZE: 14px
}
#nv B {
	FONT-SIZE: 14px
}
.btn {
	FONT-SIZE: 14px
}
#lk {
	FONT-SIZE: 14px
}
#fm {
	TEXT-ALIGN: left; PADDING-LEFT: 90px
}
INPUT {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
#nv {
	TEXT-ALIGN: left; TEXT-INDENT: 117px; MARGIN: 0px 0px 4px; HEIGHT: 19px; FONT-SIZE: 16px
}
.s_ipt_wr {
	BORDER-BOTTOM: #cdcdcd 1px solid; BORDER-LEFT: #9a9a9a 1px solid; WIDTH: 418px; DISPLAY: inline-block; BACKGROUND: url(http://s1.bdstatic.com/r/www/img/i-1.0.0.png) no-repeat -304px 0px; HEIGHT: 30px; VERTICAL-ALIGN: top; BORDER-TOP: #9a9a9a 1px solid; MARGIN-RIGHT: 5px; BORDER-RIGHT: #cdcdcd 1px solid
}
.s_ipt {
	MARGIN: 5px 0px 0px 7px; OUTLINE-STYLE: none; WIDTH: 405px; FONT: 16px/22px arial; BACKGROUND: #fff; HEIGHT: 22px; -webkit-appearance: none
}
.s_btn {
	WIDTH: 95px; BACKGROUND: url(http://s1.bdstatic.com/r/www/img/i-1.0.0.png) #ddd; HEIGHT: 32px; FONT-SIZE: 14px; CURSOR: pointer; PADDING-TOP: 2px
}
.s_btn_h {
	BACKGROUND-POSITION: -100px 0px
}
.s_btn_wr {
	Z-INDEX: 0; POSITION: relative; WIDTH: 97px; DISPLAY: inline-block; BACKGROUND: url(http://s1.bdstatic.com/r/www/img/i-1.0.0.png) no-repeat -202px 0px; HEIGHT: 34px; VERTICAL-ALIGN: top
}
#lg IMG {
	MARGIN-BOTTOM: 3px; VERTICAL-ALIGN: top
}
#lk {
	MARGIN: 33px 0px
}
#lk SPAN {
	FONT: 14px "ו"
}
#lm {
	HEIGHT: 60px
}
#lh {
	MARGIN: 16px 0px 5px; WORD-SPACING: 3px
}
.tools {
	POSITION: absolute; RIGHT: -13px; TOP: 10px
}
#mHolder {
	Z-INDEX: 296; POSITION: relative; WIDTH: 62px; DISPLAY: none
}
#mCon {
	POSITION: absolute; PADDING-BOTTOM: 0px; LINE-HEIGHT: 18px; PADDING-LEFT: 0px; PADDING-RIGHT: 18px; BACKGROUND: url(http://s1.bdstatic.com/r/www/img/bg-1.0.0.gif) no-repeat right -136px; HEIGHT: 18px; CURSOR: pointer; PADDING-TOP: 0px
}
#mCon SPAN {
	DISPLAY: block; COLOR: #00c; CURSOR: default
}
#mCon .hw {
	CURSOR: pointer; TEXT-DECORATION: underline
}
#mMenu A {
	FILTER: none; LINE-HEIGHT: 22px; TEXT-INDENT: 6px; WIDTH: 100%; DISPLAY: block; HEIGHT: 100%; TEXT-DECORATION: none
}
#mMenu {
	FILTER: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color="#cccccc"); box-shadow: 1px 1px 2px #ccc; -moz-box-shadow: 1px 1px 2px #ccc; -webkit-box-shadow: 1px 1px 2px #ccc
}
#user UL {
	FILTER: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color="#cccccc"); box-shadow: 1px 1px 2px #ccc; -moz-box-shadow: 1px 1px 2px #ccc; -webkit-box-shadow: 1px 1px 2px #ccc
}
#mMenu {
	BORDER-BOTTOM: #9b9b9b 1px solid; POSITION: absolute; BORDER-LEFT: #9b9b9b 1px solid; LIST-STYLE-TYPE: none; WIDTH: 56px; DISPLAY: none; BACKGROUND: #fff; BORDER-TOP: #9b9b9b 1px solid; RIGHT: 7px; BORDER-RIGHT: #9b9b9b 1px solid; TOP: 28px
}
#mMenu A:hover {
	BACKGROUND: #ebebeb
}
#mMenu .ln {
	LINE-HEIGHT: 1px; MARGIN-TOP: -1px; BACKGROUND: #ebebeb; HEIGHT: 1px; FONT-SIZE: 1px; OVERFLOW: hidden
}
#cp {
	COLOR: #77c
}
#cp A {
	COLOR: #77c
}
#seth {
	DISPLAY: none; BEHAVIOR: url(#default#homepage)
}
#setf {
	DISPLAY: none
}
#sekj {
	MARGIN-LEFT: 14px
}
