
/* 留言评论
----------------------------------------------------------------- */
.comment { width: 650px; display: block; float:left; }
#commentList { border-top-width: 1px; border-top-style: solid; border-top-color: #bcbcbc; float: left; margin-top: 0; margin-right: 0; margin-bottom: 20px; margin-left: 0; }

.item { padding: 20px 15px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #bcbcbc; float:left; }
#commentList .odd { background-color: #f9f9f9; }
#commentList .user { float: right; display: block; }
.user .u-name { float: left; margin-right: 15px;}
.user .star {   float: left; }
.user .date-ask { margin-left: 15px;float: left; }

.answer { margin-top: 15px; float: left; }
.answer dt { background: url(../images/comments.png) no-repeat left center; float: left; padding-left: 22px; color: #069; width: 65px; line-height: 16px; height: 16px; }
.answer dd { width: 533px; float: left; color:#333; } 

.reply { float: left; background-color: #F7F7F7; border: 1px solid #F8E0C7; width: 600px; padding: 10px; margin-top: 10px; }
.odd .reply { background-color: #fff; } /* 橙色框内，管理员答复为白色底，以便区分 */
.reply dt { font-weight: bold; color: #F90;  }
.reply dt i { font-style: normal; color: #666; float: right; font-weight: normal; }
.reply dd { color: #F00; margin-top: 10px; }
/*

.commentform { border: 1px solid #bcbcbc; margin: 20px 0 0 0; background-image: url(../images/th_bg.gif); background-repeat: repeat-x; background-position: left top; }
.commentform .nTitle { font-size: 16px; background: url(../images/comment_edit.png) no-repeat 10px center; padding-left: 32px; border-bottom: 1px solid #bcbcbc; line-height: 30px; height: 30px; color: #333; }
*/
#comment_form { margin: 20px 10px 10px 20px; }
#comment_form dl { float:left; padding: 0 0 10px 0; }
#comment_form dl dt { float:left; line-height: 28px; width: 75px; text-align: right; margin: 0 5px 0 0; }
#comment_form dl dd { float:left; line-height: 28px; }
#comment_form input,#comment_form textarea { padding: 3px; }
#comment_form dl dd .textarea { height: 100px; width: 385px; }
/*================新添加的=======================*/
#comment_form dl dd .input2{ width:120px; }
#comment_form dl dd .submit2{ padding:3px 5px; }
#comment .star{ display:inline-block; background:url(../images/comment_icon.gif) no-repeat; width:65px; height:12px; overflow:hidden; }
#comment .star0{background-position:-65px 0;}
#comment .star1{background-position:-52px 0;}
#comment .star2{background-position:-39px 0;}
#comment .star3{background-position:-26px 0;}
#comment .star4{background-position:-13px 0;}
#comment .star5{background-position:0 0;}
#comment #stars{position:relative;line-height:12px;vertical-align:middle;}
#comment #stars a{position:absolute;display:block;width:13px;height:12px;line-height:12px;cursor:pointer;text-indent:-999px;}
#comment #stars .a2{left:13px;}
#comment #stars .a3{left:26px;}
#comment #stars .a4{left:39px;}
#comment #stars .a5{left:52px;}